<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% block register %}
    {% endblock %}
    {% block login %}
    {% endblock %}
    {% block myProfile %}
    {% endblock %}

    {% block menuStudent %}
    {% endblock %}
    {% block studentFilterSubjects %}
    {% endblock %}

    {% block menuProfessor %}
    {% endblock %}
    {% block professorSubjects %}
    {% endblock %}    
    {% block professorAllStudents %}
    {% endblock %}
    {% block professorFailedStudents %}
    {% endblock %}
    {% block professorEnrolledStudents %}
    {% endblock %}
    {% block professorPassedStudents %}
    {% endblock %}

    {% block menuAdmin %}
    {% endblock %}
    {% block adminSubjects %}
    {% endblock %}
    {% block adminUpdateSubject %}
    {% endblock %}
    {% block adminAddSubject %}
    {% endblock %}
    {% block adminStudentList %}
    {% endblock %}

    {% block adminStudents %}
    {% endblock %}
    {% block adminUpdateStudent %}
    {% endblock %}
    {% block adminAddStudent %}
    {% endblock %}

    {% block adminProfessors %}
    {% endblock %}
    {% block adminUpdateProfesor %}
    {% endblock %}  
    {% block adminAddProfesor %}
    {% endblock %}

    {% block adminStudentEnrollmentForm %}
    {% endblock %}
    {% block error %}
    {% endblock %}
</body>
</html>