{% extends 'home.html' %}

{% block register %}
<style>
    a, h2 {
      color: #3c71c0;
      text-decoration: none;
    }
    table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 20px;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
<h2>Registration form</h2>
<form method="post">
    <table>
        {% for field in form %}
        <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
        </tr>
        {% endfor %}
    </table><br>
    {% csrf_token %}
    <input type="submit" value="Register">
</form>

<br>Already have an account? <a href="{% url 'login' %}">Login</a>
{% endblock %}
